.logo svg {
  fill: currentColor;
  height: 40px;
}

@white: #fcfcfc;
@black: #0e0e0d;
@color-alpha: #6eb349;
@color-epsilon: #928977;
@brand-primary: @color-alpha;
@brand-success: @color-alpha;
@brand-info: @color-epsilon;
@brand-warning: #ffc107;
@brand-danger: #dc3545;
@border-color: #484339;
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@body-bg: @black;
@jumbotron-bg: transparent;
@text-color: @white;
@text-muted: @brand-info;
@navbar-default-bg: rgba(58, 54, 46, 0.75);
@navbar-default-link-color: @brand-primary;
@navbar-default-color: @brand-primary;
@navbar-default-link-hover-color: darken(@brand-primary, 20%);
@navbar-default-link-active-bg: transparent;
@navbar-default-link-active-color: lighten(@brand-primary, 20%);
@dropdown-link-color: @color-alpha;
@link-hover-color: lighten(@brand-primary, 20%);
@well-bg: darken(@body-bg, 15%);
@input-bg: rgba(72, 67, 57, 0.2);
@input-border: @border-color;
@input-border-focus: rgb(88, 143, 58);
@input-color: @white;
@input-color-placeholder: rgb(72, 67, 57);
@section-bg: rgba(15, 14, 12, 0.6);
@panel-bg: rgba(15, 14, 12, 0.6);
@list-group-bg: @panel-bg;
@list-group-border: @border-color;
@list-group-link-color: @white;
@list-group-link-heading-color: @color-alpha;
@panel-default-heading-bg: rgba(15, 14, 12, 0.6);
@panel-footer-bg: rgba(15, 14, 12, 0.6);
@panel-default-border: @border-color;
@panel-default-text: @color-alpha;
@panel-primary-text: @white;
@panel-info-heading-bg: rgba(15, 14, 12, 0.6);
@panel-info-border: @brand-info;
@breadcrumb-bg: rgba(72, 67, 57, 0.2);

#wrapwrap .dropdown-menu {
  background-color: @navbar-default-bg;
}

.nav-pills {
  background-color: @section-bg;
}

address {font-style: italic;}

.jumbotron > hr {
  border-top-color: @white;
}

.js_hr_recruitment .bg-white {
  background-color: @breadcrumb-bg;
}

#wrapwrap {
  background: #0e0e0d url('../images/maze.jpg') no-repeat fixed center center;
  background-size: cover;
}

.navbar-fixed-top {
  top: initial;
  z-index: 1000 !important;
}
#wrap {
  padding-top: 51px;
}
#blog_right_column {
  background-color: @section-bg
}
.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.homepage #wrap > section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: @section-bg;
}
.homepage #wrap > section:nth-child(even) {
  background-color: rgba(26, 25, 21, 0.6);
}
section > .container {
  margin-top: 64px;
  margin-bottom: 64px;
}
.navbar {
  transition: background .3s;
  vertical-align: middle;
}
.navbar .navbar-brand img {
  height: 100%;
}
@media (max-width: 826px) {
  .navbar-collapse a {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
  }
}
.navbar:hover {
  background: #3a362e;
}
.jumbotron {
  background: transparent;
}
.spacer {
  margin-top: 40px;
}
textarea {
  resize: vertical;
}
footer {
  padding: 20px 0;
  background: rgba(58, 54, 46, 0.5);
}
.g-recaptcha > div {
  width: 100% !important;
  height: auto !important;
  opacity: .8 !important;
}
